# Dependencies
node_modules/

# Production build
dist/
dist-ssr/

# Local environment secret variables
.env
.env.local
.env.*.local

# IDEs & System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
